$main-font: 'Sacramento', serif;
$second-font: 'Sue Ellen Francisco', sans-serif;

div[id^="layer"] {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;

	font-family: $main-font;
	text-align: center;
	font-size: 4rem;
	color: rgba(#222, .9);

	transition: 1s all;

	&.clickable {
		cursor: pointer;
	}

	span {
		display: inline-block;
		padding-top: 1rem;

		font-family: $second-font;
		font-size: 0.5em;
		color: rgba(#222, 0.75);

		&.click {
			color: rgba(#222, 0.5);
		}
	}
}

.offscreen {
	left: -100vw !important;
}

.start-over {
	display: block;
	margin: 0 auto;
	padding: 4px;

	font-family: $second-font;
	font-size: 0.5em;
	color: rgba(#222, 0.75);

	background: rgba(#222, 0);

	border: 2px solid;
	border-radius: 4px;

	cursor: pointer;

	transition: all 0.3s;

	&:hover {
		background: rgba(#222, 0.25);
	}

	&:focus {
		outline: none;
	}
}
